.delBtn{
    height: 20px;
    min-width: 20px;
    padding: 0;
    margin: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow{
    color: rgb(255, 204, 0);
}